body {
    margin: 0;
  }

/*---------------------------------- BLUE HEADER BANNER -----------------------------------------*/

  .header-banner {
    position: fixed;
    top: 0;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .header-banner ul span {
    font-size: 17px;
  }

  .header-banner ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: radial-gradient(54.97% 272.54% at 27.36% -134.72%,rgba(108,148,255,.92) 0,rgba(0,0,0,.92) 100%);
    padding: 16px;
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    letter-spacing: 0.1em;
  }

  .header-banner li:nth-of-type(1) {
    font-weight: 500;
  }

  .header-banner li:nth-of-type(2) {
    padding: 0 16px 0 16px;
    font-weight: 500;
  }

  .header-banner a {
    color: #fff;
    text-underline-offset: 0.2em;

  }

/*---------------------------------- ACCESSORIES SECTION -----------------------------------------*/

  .last-block{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 .last-block img {
    max-height: 80vh;
 }

  .accessories {
    width: 100vw;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  h2{
    font-size: 45px;
    margin: 0;
  }


  .accessories section {
    text-align: center;
    width: 264px;
    height: 40px;
    border-radius: 5px;
    background: #171A20;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    font-weight: 500;
    letter-spacing: 0.05em;
  }

  .accessories section a {
    color: #fff;
    text-decoration: none;
    padding: 4px 24px;
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .accessories h2 {
    position: absolute;
    top: 50px;
    font-size: 40px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

/*---------------------------------- FOOTER NAVIGATION -----------------------------------------*/

  footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    list-style-type: none;
  }
  
  footer li {
    padding: 8px 0;
    margin: 0 14px 0 0;
    line-height: 20px;
  }

  footer li a {
    text-decoration: none;
    color: #5C5E62;
    letter-spacing: 0.1em;
  }

  

